body, html{
  background-image: url("../images/window.jpg");
}

.title{
  font-size: 40px;
}

#contact{
  text-align: center;
  font-size: 70px;
  color: white;
}

#snow{
  color: white;
}

#icon{
  position: relative;
  right: 30%;
}
